<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">
<head>
  <meta charset="UTF-8">
  <title>留言本</title>
  
</head>

<body>
  <div class="header container">
    <div class="page-header">
      <h1>留言列表 <small>留言内容 ↓ </small></h1>
      <a class="btn btn-success" href="/post">发表留言</a>
    </div>
  </div>
  <div class="comments container">
    <ul class="list-group">
        
        {{ each comments }}
        <li class="list-group-item">
          {{ $value.name }}说：{{ $value.message }}
          <span class="pull-right"> {{ $value.dateTime }} </span>
        </li>
        {{ /each }}
    </ul>
  </div>
</body>

</html>
